
<div class="col-md-6 offset-md-3">
    <div class="container ">

        <h2 class="text-center">Add product</h2>
        <form [formGroup]="addProduct" (ngSubmit) = "onSubmit()"  >
            
            <div class="form-group">
                <label htmlFor="productName">Product Name</label>
                <input type="text"
                 class="form-control" 
                 id="productName" 
                 placeholder="Enter product name"
                 formControlName="productName"
                 [(ngModel)] = "product.productName"
                  
                 />
                 <span *ngIf="addProduct.get('productName')?.touched">
                    product Name is required.
                </span>          
            </div>
            
          

            <div class="form-group">
                <label htmlFor="productDesc">Product Desc</label>
                <input type="text" 
                class="form-control" 
                id="productDesc" 
                placeholder="product Desc" 
                formControlName="productDesc"
                [(ngModel)] = "product.productDesc"
                required  />
            </div>

            <div class="form-group">
                <label htmlFor="productPrice">Product price</label>
                <input type="number" 
                class="form-control" 
                id="productPrice" 
                placeholder="product price" 
                formControlName="productPrice"
                [(ngModel)] = "product.productPrice"
                required />
            </div>

            <div class="form-group">
                <label htmlFor="productPrice">Product image url</label>
                <input type="text" 
                class="form-control" 
                id="productImage" 
                placeholder="product Image" 
                formControlName="productImage"
                [(ngModel)] = "product.productImage"
                required/>
            </div>

            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>

    
</div>
