header {
    background-color: #023e8a; /* Choose your desired background color */
    color: #fff; /* Choose your desired text color */
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }